<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<h1 style="padding: 5px; border-radius: 10px; text-align: center;" class="bg-primary">Tìm đại lý cần thay đổi nhóm</h1>

<!-- Hiển thị flash message -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div>
	{% for category, message in messages %}
	<p class="{% if category == 'error' %}msg-error{% elif category == 'success' %}msg-success{% endif %}">
		{{ message }}
	</p>
	{% endfor %}

</div>
{% endif %}
{% endwith %}

<form method="POST" action="/suggest-reporting">
	<input class="form-control w-50" type="text" name="agent_code" value="{{ r.agent_code }}" placeholder="Nhập mã đại lý" required>
	<button class="btn btn-primary"  type="submit">Tìm</button>
</form>

{% if result %}
<h2 style="text-align: center; padding: 5px; border-radius: 10px;" class="bg-primary">Vui lòng chọn leader</h2>
<table border="1" cellpadding="5">
	<tr>
		<th>Agent Code</th>
		<th>Agent Name</th>
		<th>Grade</th>
		<th>Action</th>
	</tr>
	{% for r in result %}
	<tr>
		<td>{{ r.agent_code }}</td>
		<td>{{ r.agent_name }}</td>
		<td>{{ r.grade }}</td>
		<td>
			<form method="POST" action="/do-transfer">
				<input type="hidden" name="current_agent_code" value="{{ request.form.agent_code }}">
				<input type="hidden" name="new_leader_code" value="{{ r.agent_code }}">
				<button type="submit">Chọn</button>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>