<h1>Chọn chức năng Movement</h1>

<form method="GET" action="/agent-transfer" style="display: flex; align-items: center; gap: 10px;">
	<span>Transfer Agent</span>
	<input type="hidden" name="action" value="transfer">
	<button type="submit">Thực hiện</button>
</form>

<form method="GET" action="/agent-terminate" style="display: flex; align-items: center; gap: 10px;">
	<span>Terminate Agent</span>
	<input type="hidden" name="action" value="terminate">
	<button type="submit">Thực hiện</button>
</form>